<div class="whoami">

    <!-- leftside -->
    <section class="col span_2_of_3">
        <ul>
            <li class="tpl-skin text newline">name:
                <div class="tpl-skin color brilliant">Jean-Marc Rakotoarisoa</div>
            </li>
            <li class="tpl-skin text newline">profession:
                <div class="tpl-skin color brilliant">JS dev</div>
            </li>
            <li class="tpl-skin text newline">public repository:
                <div class="tpl-skin color brilliant">
                    <a target="_blank" href="https://bitbucket.org/astrinxit66/">bitbucket.org/astrinxit66</a>
                </div>
            </li>
            <li class="tpl-skin text newline">motto:
                <div class="tpl-skin color brilliant">
                    <i>"I don't pretend to know all about everything, but I know a lot about the few I know"</i>
                </div>
            </li>
            <li class="tpl-skin text newline">programming level estimation:
                <div class="padding-top-10">
                    <app-progressbar done="70" label="JS ES6"></app-progressbar>
                    <app-progressbar done="60" label="HTML5/CSS3"></app-progressbar>
                    <app-progressbar done="55" label="Java 7"></app-progressbar>
                    <app-progressbar done="60" label="PHP 5"></app-progressbar>
                    <app-progressbar done="40" label="SQL"></app-progressbar>
                </div>
            </li>
            <li class="tpl-skin text newline">favorite frameworks and libs:
                <div class="padding-top-10">
                    <app-progressbar done="80" label="Angular 1.5.5"></app-progressbar>
                    <app-progressbar done="50" label="JQuery 1.9"></app-progressbar>
                    <app-progressbar done="40" label="Highcharts 4.2.5"></app-progressbar>
                    <app-progressbar done="35" label="Android SDK 19"></app-progressbar>
                    <app-progressbar done="30" label="Spring Boot 1.3.5"></app-progressbar>
                    <app-progressbar done="30" label="Jasmine 2.4.0"></app-progressbar>
                    <app-progressbar done="15" label="Lumen 5.2.6"></app-progressbar>
                    <app-progressbar done="10" label="Hibernate ORM 5.1.0"></app-progressbar>
                </div>
            </li>
            <li class="tpl-skin text newline">favorite tools:
                <div>
                    <ul class="tpl-skin list tags">
                        <li>babel</li>
                        <li>gulp</li>
                        <li>git</li>
                        <li>jspm</li>
                        <li>jshint</li>
                        <li>less</li>
                        <li>Maven</li>
                        <li>MDN</li>
                        <li>npm</li>
                        <li>systemjs</li>
                    </ul>
                </div>
            </li>
            <li class="tpl-skin text newline">other relevant tags:
                <div>
                    <ul class="tpl-skin list tags">
                        <li>Agile Scrum</li>
                        <li>Angular material</li>
                        <li>Angular UI</li>
                        <li>Bootstrap CSS</li>
                        <li>Clean code</li>
                        <li>CI</li>
                        <li>JWT</li>
                        <li>MVC</li>
                        <li>MVW</li>
                        <li>REST</li>
                    </ul>
                </div>
            </li>
        </ul>
    </section>

    <!-- rightside -->
    <section class="col span_1_of_3">
        <div class="menu">
            <h2>Available commands</h2>

            <figure>
                <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAJfAAAAJDFmYmNkMDkxLTljNmMtNDQ1OC1iMGJjLTk3YjA3ZGZmYTc2ZA.jpg"
                     width="100%"
                     alt="Jean-Marc Rakotoarisoa">
            </figure>
            
            <!-- Menu items -->
            <ul>
                <li ng-repeat="item in $ctrl.menuItems">
                    <a href="" ng-href="#{{item.path}}" class="btn"><i class="material-icons">{{item.icon}}</i>{{item.command}}</a>
                </li>
            </ul>
        </div>
    </section>
</div>