<!-- The page header goes here -->
<header>
    <h1>
        $astrinx.it
        <small class="tab enlighten">bitbucket:(<a href="bitbucket.org/astrinxit66">astrinxit66</a>)</small>
        <span class="tpl-skin input-command">{{$ctrl.command}}</span>
    </h1>
</header>

<!-- The page main content goes here -->
<main ng-view>

</main>

<!-- The page footer goes here -->
<footer></footer>