/**
 * Here stands the CSS classes that you want to be accessed by other components.
 * This is favoring the reuse of styles for your content to be uniform (for a purpose
 * of app visual identity). Your declarations should be OOCSS to avoid statements
 * duplication.
 * The first example of use case is the ./template.less
 */

//any public style from here should be
//called with .tpl-skin class
.tpl-skin {

    &.animate {
        &.slide-down {
            max-height: 1000px;
            overflow: hidden;

            transition-property: all;
            transition-duration: 5s;
            transition-delay: 1s;
            transition-timing-function: steps( 50 );

            &.pending {
                max-height: 0px;
            }
        }
    }

    &.color {

        &.enlighten { color: #A4E405; }
        &.brilliant { color: white; }
    }

    &.input-command {
        color: #A7AAA9;

        &:before {
            content: ">\0000a0";
            color: #53585F;
            font-size: 1rem;
        }
    }

    &.list {

        &.tags {
            margin-top: 5px;

            li {
                background-color: lighten(#242526, 10%);
                border-radius: 2px;
                display: inline-block;
                font-family: "Roboto Mono";
                font-size: .9em;

                cursor: default;

                margin: 2px 0;
                padding: 6px 8px;


                &:before {
                    content: "";
                }

                &:hover {
                    background-color: lighten(#242526, 20%);
                    color: white;
                }
            }
        }
    }

    &.text {

        &.newline:after {
            content: "";
            display: block;
            height: 14px;
        }
    }
}