
@import "template.skin.less";
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);

html {
    min-width: 1024px;
}

body {
    background-color: #242526;
    color: #53585F;

    font-family: "Source Code Pro";
    font-size: 14px;
    font-weight: 300;

    margin: 0 auto;
    padding: 3% 3% 0 3%;
}

a {
    color: #FC1E70;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

h1 {
    font-size: 1.2em;
    font-weight: normal;
}

h2 {
    font-size: 1.1em;
}

small {
    font-size: 90%;
}

ul {
    padding-left: 0;

    li {
        color: #A7AAA9;
        list-style-type: none;

        &:before {
            content: "~# ";
        }
    }
}